
<!DOCTYPE(➁➁)html5(➋➋)>(➂)(➁➀)
<html(➁➁)lang="en"(➋➋)>(➁)
<head>(➁)
<title>(➂)</title>(➁➀)
(➎)(➄)(➄➄)(➒)<%(➈)
(➎)for(➄)(➄➄)(
(➎)const(➄)$meta(➄➄) of $data.content.meta(➃➃)(➀➃)(➊➊))(➀➀)(➁➀)
(➎)(➄)(➄➄){ %>
<meta
(➎)(➄)(➄➄)(➒)<%(➈)
(➎)for(➄)(➄➄)(
(➎)const(➄)$metaAttribute(➄➄) of $meta.attributes(➃➃)(➀➃)(➊➊))(➀➀)(➁➀)
(➎)(➄)(➄➄){ %>
(➁➁)<%= $metaAttr.key %>="<%= $metaAttr.val %>"(➋➋)>(➂)(➀➃)(➊➊)<% }(➀➀)(➁➀)(➊➊)%>(➀➀)(➀➃)(➀➃)(➊➊)<% }(➀➀)(➁➀)(➊➊)%>(➀➀)(➁➀)
(➎)(➄)(➄➄)(➒)<%(➈)
(➎)for(➄)(➄➄)(
(➎)const(➄)$link(➄➄) of $data.content.link(➃➃)(➀➃)(➊➊))(➀➀)(➁➀)
(➎)(➄)(➄➄){ %>
<link
(➁➁)rel="stylesheet"(➋➋)(➁➀)
(➁➁)href="<%= $link.href %>"(➋➋)>(➂)(➁➀)(➀➃)(➊➊)<% }(➀➀)(➁➀)(➊➊)%>(➀➀)(➁➀)</head>(➁➀)
<body>(➂)</body>(➁➀)</html>(➁➀)