
<!DOCTYPE (➁➂)html5(➋➌)>
<html (➁➂)lang="en"(➋➌)>
<head>
<title></title>
(➒)<%(➈)
(➎)for(➄)(➓)((➉)
(➎)const(➄) (➎➎)$meta(➄➄) (➍)of(➃) (➍➍)$data.content.meta(➃➃)
(➊➊))(➀➀) 
(➓){ %>(➉)
<meta
(➒)<%(➈)
(➎)for(➄)(➓)((➉)
(➎)const(➄) (➎➎)$metaAttribute(➄➄) (➍)of(➃) (➍➍)$meta.attributes(➃➃)
(➊➊))(➀➀) 
(➓){ %>(➉)
 (➁➂)<%= $metaAttr.key %>="<%= $metaAttr.val %>"(➋➌)>
(➊➊)<% }(➀➀) (➊➊)%>(➀➀) 

(➊➊)<% }(➀➀) (➊➊)%>(➀➀) 
(➒)<%(➈)
(➎)for(➄)(➓)((➉)
(➎)const(➄) (➎➎)$link(➄➄) (➍)of(➃) (➍➍)$data.content.link(➃➃)
(➊➊))(➀➀) 
(➓){ %>(➉)
<link
 (➁➂)rel="stylesheet"(➋➌)
 (➁➂)href="<%= $link.href %>"(➋➌)>
(➊➊)<% }(➀➀) (➊➊)%>(➀➀) </head>
<body></body></html>