<!DOCTYPE
<html  <head>    <title>      <%%>
      for (
        const $metaof $data.content.meta
      )
      { %>
        <meta          <%
            for (
              const $metaAttributeof $meta.attributes
            )
            { %><% }
          %>
      <% }</title>
    <%
      for (
        const $linkof $data.content.link
      )
      { %>
        <link
      <% }
    %></head>
  <body></body></html>