
<!DOCTYPE
    html5>

<html
    lang="en">
  <head>
    <title></title>
    <%
      for (
        const $metaof $data.content.meta
      )
      { %>
        <meta
          <%
            for (
              const $metaAttributeof $meta.attributes
            )
            { %>
                <%= $metaAttr.key %>="<%= $metaAttr.val %>">
            <% }
          %>
        
      <% }
    %>
    <%
      for (
        const $linkof $data.content.link
      )
      { %>
        <link
            rel="stylesheet"
            href="<%= $link.href %>">
        
      <% }
    %>
  </head>
  <body></body>
</html>
