<!DOCTYPE html5>

<html lang="en">
  <head>
    <title> </title>

    <% for ( const $meta of $data.content.meta ) { %>
    <meta />

    <% for ( const $metaAttribute of $meta.attributes ) { %> <%= $metaAttr.key
    %>="<%= $metaAttr.val %>" / <% } %> <% } %> <% for ( const $link of
    $data.content.link ) { %>
    <link rel="stylesheet" href="<%= $link.href %>" />

    <% } %>
  </head>

  <body></body>
</html>
